/* @import 'tailwindcss'; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@theme {
  --font-body: "Roboto", sans-serif;
  --font-mont: "Montserrat", sans-serif;
  --font-noto: "Noto Serif", serif;
  /* --color-blue: #263d6f; */
  /* --color-blue: #e09f3e; */
  --color-blue: #C8B47D;
  /* --color-blue: #283e77; */
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#c04b62),
    to(#472d30)
  );
  background-image: linear-gradient(#263d6f, #472d30);
  border-radius: 50px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-right: 2rem;
    padding-left: 2rem;
    
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    /* background:blue */
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* hero slider  */
/* Custom Swiper Dots */
.custom-dot {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-dot.swiper-pagination-bullet-active {
  background: #ffffff;
  width: 32px;
  height: 12px;
  border-radius: 999px;
  background: #1e3a8a; /* blue-900 */
}
